:where(:not(#preview *)) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #ddd;
}
.app {
  display: flex;
  height: 100%;
}
article:is(.markdown, .previewer) {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  h2:is(.previewer_h2, .markdown_h2) {
    font-family: 'Victor Mono', sans-serif;
    background-color: #444;
    color: #eee;
    padding: 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #555;
    text-wrap: balance;
  }
}
article.previewer {
  overflow-y: scroll;
}
.splitter {
  width: 1rem;
  background-color: #2bdea2;
  cursor: col-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 0.7rem;
  letter-spacing: 2px;
  box-shadow: 1px 0 2px #333;
  &:active {
    background-color: #49ae8d;
  }
}
svg {
  margin-right: 1rem !important;
  height: 1.5rem;
  display: inline;
  path {
    fill: #0090de;
  }
}
article.markdown {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  h2 {
    width: 100%;
  }
  section {
    width: 100%;
    height: calc(100% - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 90%;
    padding: 1rem 2rem;
    justify-content: center;
  }
  textarea {
    width: 90%;
    outline: none;
    height: 80%;
    resize: none;
    padding: 1rem 2rem;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #0090de;
    box-shadow: 1px 2px 5px #333a;
  }
}
article.previewer {
  scroll-timeline-name: --previewer;
  code {
    background-color: #fff;
  }
  blockquote {
    border-left: 5px solid #555;
    padding-left: 1rem !important;
  }
  table {
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid black;
    padding: 10px;
    border-spacing: 0 !important;
  }
  img {
    max-width: 100%;
  }
  #preview {
    padding-left: 2rem;
    padding-top: 100px;
  }
  .previewer_h2 {
    position: fixed;
    top: 0;
    right: 0;
    animation-timeline: --previewer;
    animation-name: shrink;
    animation-range: 0 5rem;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    width: calc(50vw - 0.5rem);
  }
}
@keyframes shrink {
  to {
    height: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 3px;
    background-color: #222;
  }
}
.previewer.small #preview {
  padding-left: 1rem;
  font-size: 0.5rem;
}
.previewer.large #preview {
  padding-left: 4rem;
  font-size: 2rem;
}
.previewer_h2 svg {
  cursor: pointer;
}
